
# Python
__pycache__/
*pyc

# Virtual environment
.venv/
.env

# Data files
data/raw/
data/sample/
logs/

# Notebooks
*.ipynb

# Credentials
*.json

# dbt
dbt/target/
dbt/models/example
dbt/dbt_packages/



# temp files
test_*.py